<!DOCTYPE html>
<html>
<head>
  <title>Beverage Management</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}">
  <link href="../static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}">


</head>
<body>
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" style="min-height: 80px">
      <a class="navbar-brand" href="#">
        <!-- Replace the text with your logo or image -->
        <img src="../static/img/logo.jpg" alt="Logo" th:src="@{/img/logo.jpg}" style="width: 5rem;height: 5rem;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/dashboard}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  th:href="@{/dashboard/list}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/cart/list}">Cart</a>
          </li>
          <li class="nav-item">
            <button class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#adminConfirmationModal">Admin</button>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/user/view}">View Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">Delete Account</button></li>
            </ul>
          </li>
          <li class="nav-item">
            <button class="nav-link" type="button" data-bs-target="#logoutConfirmationModal" data-bs-toggle="modal">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="container">
    <h1>Beverage Management</h1>

    <!-- Add Category Button -->
    <a type="button" class="btn btn-primary mb-3" th:href="@{/beverage/add}" >
      Add beverage
    </a>

    <table class="table">
      <thead>
      <tr>
        <th>beverage ID</th>

        <th>beverage Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Category Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody th:each="beverage:${beverages}">
      <tr>
        <td th:text="${beverage.id}">1</td>
        <td th:text="${beverage.name}">Category 1</td>
        <td th:text="${beverage.price}">Category 1</td>
        <td><img  th:src="'data:image/png;base64,'+${beverage.imageBase64}" width="200px" height="100px"></td>
        <td th:text="${beverage.category.name}"></td>

        <td>

          <button type="button" style="margin-top: 30px" class="btn btn-primary" >
            Edit
          </button>
          <form th:action="@{/beverage/delete/{id}(id=${beverage.id})}" method="post">
            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
          </form>

        </td>
      </tr>
      <!-- Add more rows for additional categories -->
      </tbody>
    </table>
  </div>
</main>

<footer >
  <div class="container-fluid bg-dark text-light py-4">
    <div class="row">
      <div class="col-md-3">
        <h5>Explore</h5>
        <ul class="list-unstyled">
          <li><a href="#">Menu</a></li>
          <li><a href="#">Order Now</a></li>
          <li><a href="#">Deals</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li><a href="#">Customer Service</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>About Us</h5>
        <ul class="list-unstyled">
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-secondary text-light text-center py-2">
    <p>&copy; 2023 Beverage Ordering Website. All rights reserved.</p>
  </div>
</footer>
<!--Delete Modal-->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this account?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <!-- Delete link to the delete URL -->
        <form th:action="@{/user/delete}" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--AdminModal-->
<div class="modal fade" id="adminConfirmationModal" tabindex="-1" aria-labelledby="adminConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adminConfirmationModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form th:action="@{/user/checkAdmin}" method="post">
        <div class="modal-body">
          Are you sure you want to make this user an admin?
          <div class="row">
            <label for="name">Name</label><input type="text" name="name" id="name" >
          </div>
          <div class="row">
            <label for="password">Password</label><input type="password" name="password" id="password" >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <!-- Delete link to the delete URL -->
          <button type="submit" class="btn btn-danger">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Logout Confirmation model-->
<div class="modal fade" id="logoutConfirmationModal" tabindex="-1" aria-labelledby="logoutConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutConfirmationModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to log out?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <!-- Delete link to the delete URL -->
        <form th:action="@{/user/logout}" method="post">
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>
      </div>
    </div>
  </div>
</div>




</body>
</html>
